.osb-geo-weather-holder {
  .background {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  .defaultBg {
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top, #00b7ea 0%, #0074b2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b7ea), color-stop(100%, #0074b2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #00b7ea 0%, #0074b2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #00b7ea 0%, #0074b2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #00b7ea 0%, #0074b2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #00b7ea 0%, #0074b2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b7ea', endColorstr='#0074b2', GradientType=0); /* IE6-9 */
  }

  .nightBg {
    background: #000016; /* Old browsers */
    background: -moz-linear-gradient(top, #000016 0%, #002156 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000016), color-stop(100%, #002156)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000016 0%, #002156 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000016 0%, #002156 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000016 0%, #002156 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000016 0%, #002156 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000016', endColorstr='#002156', GradientType=0); /* IE6-9 */
  }

  .rainyBg {
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5bdc8), color-stop(36%, #828c95), color-stop(100%, #28343b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b5bdc8 0%, #828c95 36%, #28343b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=0); /* IE6-9 */
  }

}